{{define "addclip-item"}}
{{template "head-bootstrap5"}}
<body>
{{template "navbar-bootstrap5" .}}
{{template "modal-bootstrap5" .}}
<form action="/uploadclip-item" method="post" onsubmit="return addPageBlankCheck()">
<div class="container py-5 px-2">
    <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
        <div class="pt-3 pb-3">
            <h2 class="text-muted">Add Clip Asset</h2>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Title</label>
                    <input id="addTitle" type="text" name="title" class="form-control" placeholder="에셋 제목">
                    <small class="form-text text-muted">에셋 제목을 입력해주세요.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Author</label>
                    <input id="addAuthor" type="text" name="author" class="form-control" placeholder="에셋 제작자 이름">
                    <small class="form-text text-muted">에셋 제작자 이름을 적어주세요.</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Description</label>
                    <textarea id="addDescription" name="description" class="form-control" rows="5"></textarea>
                    <small class="form-text text-muted">에셋 사용시 참고해야할 사항</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Tags</label>
                    <input id="addTags" type="text" name="tags" class="form-control" placeholder="자동차 하늘">
                    <small class="form-text text-muted">태그를 입력하세요. 태그는 띄어쓰기 또는 쉼표로 구분합니다.</small>
                </div>
            </div>
        </div>

        {{template "option-category" .}}
        
        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Attributes</label>
                    <div id="attributes">
                        <div class="row">
                            <div class="col">
                                <div class="form-group p-0 m-0">
                                    <input type="text" class="form-control" placeholder="key" value="" id="key0" name="key0">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group p-0 m-0">
                                    <input type="text" class="form-control" placeholder="value" value="" id="value0" name="value0">
                                </div>          
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <input type="hidden" id="attributesNum" name="attributesNum" value="1">
                        <div class="col">
                            <small class="form-text text-muted float-end">필요시 속성을 추가해 주세요. <span class="add float-end" onclick="addAttribute();">+</span></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pt-5">
        <button type="submit" class="btn btn-outline-warning">NEXT</button>
    </div>
</div>
</form>

{{template "footer"}}
</body>
<script src="/assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/dotori.js"></script>
</html>
{{end}}
