{{define "head"}}
<!DOCTYPE html>
<html>
<head>
<title>dotori</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" type="image/png" href="/assets/img/webicon.png">
<link rel="icon" href="/assets/img/webicon.png">
<link rel="apple-touch-icon" href="/assets/img/webicon.png">
<link rel="stylesheet" href="/assets/bootstrap-4/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/default.css">
<link rel="stylesheet" href="/assets/css/dropzone.css">
<link rel="stylesheet" href="/assets/pretty-checkbox-3.0.3/dist/pretty-checkbox.min.css">
</head>
{{end}}