{{define "help"}}
    {{template "head"}}
    <body>
        {{template "navbar"}}
        <div class="p-5 text-center  text-muted">
            <h3>DOTORI</h3>
            <h4 class="pb-2">Asset Library Tool</h4>
            <p class="h6 font-weight-light">
                검색엔진 방식의 에셋 관리 툴입니다.<br>
            <p>
        </div>
        <div class="p-5 text-center bg-darklight text-muted">
            <h4 class="p-2">기능요청방법</h4>
            <p class="h6 font-weight-light">
                자신의 의견을 Github 이슈에 등록해주세요.
            </p>	
            <p class="h6 font-weight-light">
                <a href="https://github.com/rd101/dotori/issues" class="btn btn-sm btn-outline-darkmode">Github Issue</a>
            </p>
        </div>
        {{template "footer"}}
    </body>
    <!--add javascript-->
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
    <script src="/assets/js/dropzone.js"></script>
    </html>
{{end}}