{{define "itemsTopUsing"}}
    <!-- Preset Value -->
    {{$thumbnailwidth := .Adminsetting.ThumbnailImageWidth}}
    {{$thumbnailheight := .Adminsetting.ThumbnailImageHeight}}  
    <!-- Switching Button -->
    <h6 class="init-title">TOP {{$.TopUsingTotalItemNum}}
        <div class="slider-icon float-right">
            <span class="btn carousel-control-prev-icon" aria-hidden="true" onclick="topUsingClick('{{.TopUsingTotalItemNum}}', 'prev');" ></span>
            <span class="slider-text" id="topUsingPage" value="1">1 / {{divCeil $.TopUsingTotalItemNum 4}}</span>
            <span class="btn carousel-control-next-icon" aria-hidden="true" onclick="topUsingClick('{{.TopUsingTotalItemNum}}', 'next');" ></span>
        </div>
    </h6>
    <!-- Card Items -->
    <div class="row init-items">
        {{range $i, $q := .TopUsingItems}}
            {{$itemtype := .ItemType}}
            {{$itemid := .ID.Hex}}
            <!-- Thumbnail in Card-->
            <div class="card" id="topUsingCard{{$i}}" style="width: {{$thumbnailwidth}}px;">
                <a class="card-image" href="#" title="image {{$i}}" id="topUsingImageForm{{$i}}"></a>
                <!-- Item info in Card -->
                <div class="card-body">
                    <div id="topUsingCardBody{{$i}}" data-toggle="modal" data-target="#modal-detailview" onclick="setDetailViewModal('{{.ID.Hex}}')">
                        <!-- Favorite Icon -->
                        <h5 class="card-title" id="topUsingTitle{{$i}}">{{.Title}}
                            <div class="bookmark-icon">
                                {{$fillBool := "unfilled"}}
                                {{range $index, $favoriteid := $.User.FavoriteAssetIDs}}
                                    {{if eq $itemid $favoriteid}}
                                        {{$fillBool = "filled"}}
                                    {{end}}
                                {{end}}
                                <div class="bookmark-clicklistener" onclick="clickBookmarkIcon(this, '{{$fillBool}}','{{$itemid}}');event.stopPropagation()"></div>
                                <object type="image/svg+xml" data="/assets/img/bookmark-{{$fillBool}}.svg" class="bookmark-{{$fillBool}}-icon"></object>
                            </div>
                        </h5>
                        <div class="row m-0 mb-2"style="align-items: center;">
                            <img class="download-icon" src="/assets/img/download-solid.svg">
                            <p class="card-text" id="topUsingRate{{$i}}">{{.UsingRate}}</p>
                        </div>
                    </div>
                    <div id="topUsingCardTags{{$i}}">
                        {{range .Tags}}
                            <a href="/search?searchword=tag:{{.}}" class="tag badge badge-outline-darkmode">{{.}}</a>
                        {{end}}
                        <div class="tag finger badge badge-outline-warning" onclick="copyPath('{{.OutputDataPath}}')">copypath</div>
                    </div>
                </div>
            </div>
            {{end}}
            {{$len := len .TopUsingItems}}
            {{$modlen := mod $len 4}}
            {{if eq $modlen 0}}
            {{else}}
            {{$len = sub 4 $modlen}}
            {{range $index, $i := IntToSlice $len}}
                <div class="card" id="topUsingCard{{add $modlen $index}}" style="width: {{$thumbnailwidth}}px; visibility: hidden;" value="{{$modlen}}"></div>
            {{end}}    
            {{end}}
    </div>
    <script src="/assets/js/dotori.js"></script>
    <script src="/assets/js/jquery-3.1.1.min.js"></script>
    <script>topUsingClick('{{$.TopUsingTotalItemNum}}', 'init');</script>
{{end}}