{{define "ItemsRecentlyTag"}}
    <div class="row justify-content-center align-items-center m-3">
        <div class="col-lg-12">
            <div class="text-muted mb-3">
            Tags:
            {{range .RecentlyTagItems}}
                {{$itemtype := .ItemType}}
                {{range .Tags}}
                    <a href="/search?itemtype={{$itemtype}}&searchword=tag:{{.}}" class="badge badge-outline-darkmode">{{.}}</a>
                {{end}}
            {{end}}
            </div>
        </div>
        </div>
    </div>
{{end}}
