{{define "item-process"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    <div class="container pt-5 pb-5">
        <div class="text-center mx-auto pt-5 pb-5">
            <h2 class="text-muted">Item Process</h2>
        </div>
        <div class="text-muted text-center">
            {{$index := 1}}
                {{range .Items}}
                    <div class="row pt-1 pb-1">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <span class="text-center">{{$index}}</span>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            {{.ItemType}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            {{.Author}}
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            {{.ID.Hex}}
                        </div>
                        <div class="col-sm-3 col-md-2 col-lg-1 my-auto">
                            <span class="badge badge-success">
                                {{.Status}}
                            </span>
                        </div>
                        <div class="col-sm-9 col-md-10 col-lg-4 my-auto">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 10%" aria-valuenow="3" aria-valuemin="1" aria-valuemax="7"></div>
                            </div>
                        </div>
                        
                    </div>
                    <div>
                        <hr class="my-1 p-0 m-0 divider">
                    </div>
                    
                {{$index = add $index 1}}
            {{end}}
        </div>
    </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>
{{end}}