{{define "itemsRecentlyCreate"}}
    {{$thumbnailwidth := .Adminsetting.ThumbnailImageWidth}}
    {{$thumbnailheight := .Adminsetting.ThumbnailImageHeight}}
    <input type="hidden" id="thumbnailwidth" value="{{$thumbnailwidth}}">
    <input type="hidden" id="thumbnailheight" value="{{$thumbnailheight}}">
    <div class="row justify-content-center align-items-center m-3">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <span class="text-white">최근에 등록된 에셋 {{$.RecentlyTotalItemNum}}건</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-lg-12">
            <div class="input-group mb-3" style="display: inline-block; width: 98%; text-align: right;">
                <span class="btn carousel-control-prev-icon" aria-hidden="true" onclick="recentlyClick('{{.RecentlyTotalItemNum}}', 'prev');" style="margin-right: 25px;"></span>
                <span class="btn carousel-control-next-icon" aria-hidden="true" onclick="recentlyClick('{{.RecentlyTotalItemNum}}', 'next');" ></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mx-auto mb-12" id="recentlyPage" value="1">
            {{range $i, $q := .RecentlyCreateItems}}
                <div class="col-sm-3 text-center">
                    <div class="panel-thumbnail">
                        <a href="#" title="image {{$i}}" class="thumb" id="recentlyImageForm{{$i}}">
                        {{if eq .ItemType "pdf"}}
                            <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/pdfthumbnail.svg">
                        {{else if eq .ItemType "hwp"}}
                            <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/hwpthumbnail.svg">
                        {{else if eq .ItemType "sound"}}
                            <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/soundthumbnail.svg">
                        {{else if eq .ItemType "hdri" "texture" }}
                            <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                        {{else}}
                            <video width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" controls poster="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                            <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                            <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                            Your browser does not support the video tag.
                            </video>
                        {{end}}
                        </a>
                    </div>
                    <div class="info mb-3">
                        <div>
                            <span class="text-muted" id="recentlyTitle{{$i}}">Title: {{.Title}}</span><br>
                            <span class="text-muted" id="recentlyAuthor{{$i}}">Author: {{.Author}}</span><br>
                            <span class="text-muted" id="recentlyCreateTime{{$i}}">CreateTime: {{SplitTimeData .CreateTime}}</span><br>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}