{{define "items"}}
    <div class="row mx-auto mb-5">
        {{$thumbnailwidth := .Adminsetting.ThumbnailImageWidth}}
        {{$thumbnailheight := .Adminsetting.ThumbnailImageHeight}}
        {{range .Items}}
            {{$itemtype := .ItemType}}
            <div class="col-sm-4 text-center">
                <div class="thumbnail">
                    {{if eq .ItemType "pdf"}}
                        <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/pdfthumbnail.svg">
                    {{else if eq .ItemType "hwp"}}
                        <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/hwpthumbnail.svg">
                    {{else if eq .ItemType "sound"}}
                        <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/soundthumbnail.svg">
                    {{else if eq .ItemType "hdri" "texture" "lut" }}
                        <img width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                    {{else if eq .ItemType "clip"}}
                        <video width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" controls autoplay>
                            <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                            <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    {{else}}
                        <video width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" controls poster="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                            <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                            <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    {{end}}
                </div>
                <div class="info mb-3">
                    <div>
                        <span class="text-muted">ID: {{.ID.Hex}}</span><br>
                        <span class="text-muted">Title: {{.Title}}</span><br>
                        <span class="text-muted">Author: {{.Author}}</span><br>
                        <span class="text-muted">Using Rate: {{.UsingRate}}</span>
                    </div>
                    <div class="text-muted">
                        Tags:
                        {{range .Tags}}
                            <a href="/search?itemtype={{$itemtype}}&searchword=tag:{{.}}" class="badge badge-outline-darkmode">{{.}}</a>
                        {{end}}
                    </div>
                    <div class="ml-1">
                        <a href="/edit{{.ItemType}}?itemtype={{.ItemType}}&id={{.ID.Hex}}" class="badge badge-outline-darkmode">Edit</a>
                        <button class="finger badge badge-outline-darkmode" onclick="copyButton(this.value)" value="{{.OutputDataPath}}">Copy Path</button>
                        {{if ne .ItemType "footage"}}
                            <a href="/download-item?itemtype={{.ItemType}}&id={{.ID.Hex}}" class="finger badge badge-outline-darkmode">Download</a>
                        {{end}}
                        {{if eq $.User.AccessLevel "admin"}}
                            <span class="finger badge badge-danger" data-toggle="modal" data-target="#modal-rmitem" onclick="setRmItemModal('{{.ItemType}}','{{.ID.Hex}}')">DELETE</span>
                        {{end}}
                        {{if eq .ItemType "usd"}}
                            <img src="/assets/img/ar.svg" class="finger">
                        {{end}}
                    </div>           
                </div>
            </div>
        {{end}}
    </div>
{{end}}
