{{define "itemsRecentlyCreate"}}
    {{$thumbnailwidth := .Adminsetting.ThumbnailImageWidth}}
    {{$thumbnailheight := .Adminsetting.ThumbnailImageHeight}}
    <input type="hidden" id="thumbnailwidth" value="{{$thumbnailwidth}}">
    <input type="hidden" id="thumbnailheight" value="{{$thumbnailheight}}">
    <div class="row justify-content-center align-items-center m-3">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <span class="text-white">최근에 등록된 에셋 {{$.RecentlyTotalItemNum}}건</span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div class="col-lg-12">
            <div class="input-group mb-3" style="display: inline-block; width: 98%; text-align: right;">
                <span class="btn carousel-control-prev-icon" aria-hidden="true" onclick="recentlyClick('{{.RecentlyTotalItemNum}}', 'prev');" ></span>
                <span class="text-white" id="recentlyPage" value="1">1 / {{divCeil $.RecentlyTotalItemNum 4}}</span>
                <span class="btn carousel-control-next-icon" aria-hidden="true" onclick="recentlyClick('{{.RecentlyTotalItemNum}}', 'next');" ></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mx-auto mb-12">
            {{range $i, $q := .RecentlyCreateItems}}
                {{$itemtype := .ItemType}}
                <div class="col-lg-3 col-sm-12">
                    <div class="card mx-auto" id="recentCard{{$i}}">
                        <a class="card-image" href="#" title="image {{$i}}" class="thumb" id="recentlyImageForm{{$i}}">
                            {{if eq $itemtype "hwp" "ies" "pdf" "ppt" "sound"}}
                                <img class="card-img" width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/{{$itemtype}}thumbnail.svg">
                            {{else if eq $itemtype "hdri" "texture" "lut" }}
                                <img class="card-img" width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                            {{else}}
                                <video class="card-img" width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" controls poster="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                                    <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                                    <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                                    Your browser does not support the video tag.
                                </video>
                            {{end}}
                        </a>
                        <div class="card-body" data-toggle="modal" data-target="#modal-detailview" onclick="setDetailViewModal('{{.ID.Hex}}')">
                            <h5 class="card-title mb-0" id="recentlyTitle{{$i}}">{{.Title}}</h5>
                            <span class="text-muted" id="recentlyCreateTime{{$i}}" style="font-size: 13px;">{{SplitTimeData .CreateTime}}</span><br>
                            <div class="row m-0 mb-2"style="align-items: center;">
                                <i class="fas fa-download fa-xs" style="color:grey;"></i>
                                <p class="card-text">{{.UsingRate}}</p>
                            </div>
                            <div>
                                {{range .Tags}}
                                    <a href="/search?itemtype={{$itemtype}}&searchword=tag:{{.}}" class="tag badge badge-outline-darkmode">{{.}}</a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}