{{define "itemsTopUsing"}}
    <!-- Switching Button -->
    <h6 class="init-title">TOP {{$.TopUsingTotalItemNum}}</h6>
    <!-- Card Items -->
    <div class="row mx-auto mb-5">
        {{range .TopUsingItems}}
            {{$itemid := .ID.Hex}}
            <!-- Card Items -->
            <div class="col-lg-4 col-md-6 col-sm-12" id="{{.ID.Hex}}">
                <div class="card mx-auto" style="width: {{$.Adminsetting.ThumbnailImageWidth}}px;">
                    <!-- Thumbnail in Card-->
                    {{if eq .ItemType "hwp" "ies" "pdf" "ppt" "sound"}}
                        <img class="card-img" width="{{$.Adminsetting.ThumbnailImageWidth}}" height="{{$.Adminsetting.ThumbnailImageHeight}}" src="/assets/img/{{.ItemType}}thumbnail.svg">
                    {{else if eq .ItemType "hdri" "texture" "lut" }}
                        <img class="card-img" width="{{$.Adminsetting.ThumbnailImageWidth}}" height="{{$.Adminsetting.ThumbnailImageHeight}}" src='{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}'>
                    {{else if eq .ItemType "clip" "nuke"}}
                        <video class="card-img" width="{{$.Adminsetting.ThumbnailImageWidth}}" height="{{$.Adminsetting.ThumbnailImageHeight}}" {{if $.User.Autoplay}}autoplay loop{{end}}>
                            <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                            <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    {{else}}
                        <video class="card-img" width="{{$.Adminsetting.ThumbnailImageWidth}}" height="{{$.Adminsetting.ThumbnailImageHeight}}" {{if $.User.Autoplay}}autoplay loop{{end}} poster='{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}'>
                            <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                            <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                            Your browser does not support the video tag.
                        </video>
                    {{end}}    
                    <!-- Item info in Card -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div class="pretty p-default p-curve">
                                    <input type="checkbox" class="select-item" value="{{.ID.Hex}}" id="idcheckbox-{{.ID.Hex}}">
                                    <div class="state p-warning-o">
                                        <label class="card-title unselectable finger">{{.Title}}</label>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col">
                                <!-- Favorite Icon -->
                                <div class="bookmark-icon">
                                    {{$fillBool := "unfilled"}}
                                    {{range $index, $favoriteid := $.User.FavoriteAssetIDs}}
                                        {{if eq $itemid $favoriteid}}
                                            {{$fillBool = "filled"}}
                                        {{end}}
                                    {{end}}
                                    <div class="bookmark-clicklistener" onclick="clickBookmarkIcon(this, '{{$fillBool}}','{{$itemid}}');event.stopPropagation()"></div>
                                    <object type="image/svg+xml" data="/assets/img/bookmark-{{$fillBool}}.svg" class="bookmark-{{$fillBool}}-icon"></object>
                                </div>
                            </div>
                        </div>

                        <div class="row m-0 mb-2" style="align-items: center;">
                            <img class="download-icon" src="/assets/img/download-solid.svg"><p class="card-text">{{.UsingRate}}</p>
                        </div>
                        
                        <div class="row">
                            <img class="finger ml-2 mr-1" width="24px" height="24px" src="/assets/img/info.svg" data-toggle="modal" data-target="#modal-detailview" onclick="setDetailViewModal('{{.ID.Hex}}')">
                            {{if eq .ItemType "nuke"}}
                                <div class="tag finger badge badge-outline-warning" onclick="copyNukePath('{{.ID.Hex}}')">.nk</div>
                            {{else}}
                                <div class="tag finger badge badge-outline-warning" onclick="copyPath('{{.OutputDataPath}}')">Path</div>
                            {{end}}
                            {{if $.Adminsetting.EnableRVLink}}
                                {{if eq .ItemType "clip" "footage" "hdri"}}
                                    <div class="tag finger badge badge-outline-rvgreen" onclick="rvlink('{{.OutputDataPath}}')">RV</div>
                                {{end}}
                            {{end}}
                            <div id="tags-{{.ID.Hex}}">
                                {{range .Tags}}
                                    <a href="/search?searchword=tag:{{.}}" class="tag badge badge-outline-darkmode">{{.}}</a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
{{end}}