{{define "itemsTopUsing"}}
    {{$thumbnailwidth := .Adminsetting.ThumbnailImageWidth}}
    {{$thumbnailheight := .Adminsetting.ThumbnailImageHeight}}  
    <div class="row justify-content-center align-items-center m-3">
        <div class="col-lg-12">
            <div class="input-group mb-3">
                <span class="text-white">가장 많이 사용되는 에셋 {{$.TopUsingTotalItemNum}}건</span><br>
            </div>
        </div>
    </div>
    <div class="row justify-content-center m-3">
        <div type="number" class="col-lg-12">
            <div class="input-group mb-3" style="display: inline-block; width: 98%; text-align: right;">
                <span class="btn carousel-control-prev-icon" aria-hidden="true" onclick="topUsingClick('{{.TopUsingTotalItemNum}}', 'prev');" ></span>
                <span class="text-white" id="topUsingPage" value="1">1 / {{divCeil $.TopUsingTotalItemNum 4}}</span>
                <span class="btn carousel-control-next-icon" aria-hidden="true" onclick="topUsingClick('{{.TopUsingTotalItemNum}}', 'next');" ></span>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mx-auto mb-12">
            {{range $i, $q := .TopUsingItems}}
                {{$itemtype := .ItemType}}
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                    <div class="card mx-auto" id="topUsingCard{{$i}}">
                        <a class="card-image" href="#" title="image {{$i}}" id="topUsingImageForm{{$i}}">
                        {{if eq .ItemType "hwp" "ies" "pdf" "ppt" "sound"}}
                            <img class="card-img" width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="/assets/img/{{$itemtype}}thumbnail.svg">
                        {{else if eq .ItemType "hdri" "lut" "texture" }}
                            <img class="card-img" width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" src="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                        {{else}}
                            <video class="card-img"width="{{$thumbnailwidth}}" height="{{$thumbnailheight}}" controls poster="{{if eq .Status "done" }}/mediadata?id={{.ID.Hex}}&type=png{{else}}/assets/img/noimage.svg{{end}}">
                                <source src="/mediadata?id={{.ID.Hex}}&type=mp4" type="video/mp4">
                                <source src="/mediadata?id={{.ID.Hex}}&type=ogg" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                        {{end}}
                        </a>
                        <div class="card-body" data-toggle="modal" data-target="#modal-detailview" onclick="setDetailViewModal('{{.ID.Hex}}')">
                            <h5 class="card-title" id="topUsingTitle{{$i}}">{{.Title}}</h5>
                            <div class="row m-0 mb-2"style="align-items: center;">
                                <i class="fas fa-download fa-xs" style="color:grey;"></i>
                                <p class="card-text" id="topUsingRate{{$i}}">{{.UsingRate}}</p>
                            </div>
                            <div>
                                {{range .Tags}}
                                    <a href="/search?itemtype={{$itemtype}}&searchword=tag:{{.}}" class="tag badge badge-outline-darkmode">{{.}}</a>
                                {{end}}
                            </div>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
    </div>
{{end}}