{{define "item-process"}}
{{template "head"}}
<body>
    {{template "navbar" .}}
    <div class="container pt-5 pb-5">
        <div class="my-auto pb-5">
            <h5 class="text-muted pb-3">{{.StorageTitle}}</h5>
            <div class="progress">
                {{if eq .StorageLevel 7}}
                <div class="progress-bar bg-info" role="progressbar" style="width: {{.StoragePercent}}%" aria-valuenow={{.StoragePercent}} aria-valuemin="1" aria-valuemax="100"><b>{{.StoragePercent}}%</b></div>
                {{else if eq .StorageLevel 8}}
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{.StoragePercent}}%" aria-valuenow={{.StoragePercent}} aria-valuemin="1" aria-valuemax="100"><b>{{.StoragePercent}}%</b></div>
                {{else if eq .StorageLevel 9}}
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{.StoragePercent}}%" aria-valuenow={{.StoragePercent}} aria-valuemin="1" aria-valuemax="100"><b>{{.StoragePercent}}%</b></div>
                {{else}}
                <div class="progress-bar bg-success" role="progressbar" style="width: {{.StoragePercent}}%" aria-valuenow={{.StoragePercent}} aria-valuemin="1" aria-valuemax="100"><b>{{.StoragePercent}}%</b></div>
                {{end}}
            </div>
        </div>        
        <div class="text-center mx-auto pt-5 pb-5">
            <h2 class="text-muted">Item Process</h2>
        </div>        
        <div class="text-muted text-center">
            {{$index := 1}}
                {{range .Items}}
                    <div class="row pt-1 pb-1">
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            <span class="text-center">{{$index}}</span>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            {{.ItemType}}
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-1">
                            {{.Author}}
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-4">
                            {{.ID.Hex}}
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-5 my-auto">
                            <div class="progress">
                                {{if eq .Status "error"}}
                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="1" aria-valuemax="10">
                                        {{.Status}} - {{LastLog .Logs}}
                                    </div>
                                {{else}}
                                    <div class="progress-bar progress-bar-animated progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="1" aria-valuemax="10">
                                        {{.Status}} - {{LastLog .Logs}}
                                    </div>
                                {{end}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <hr class="my-1 p-0 m-0 divider">
                    </div>
                {{$index = add $index 1}}
            {{end}}
        </div>
    </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>
{{end}}