{{define "modal"}}
<div class="">
    <!-- Modal : Preset Value -->
    <input type="hidden" id="token" value="{{$.User.Token}}">
    <!-- Modal : Remove Item -->
    <div class="modal fade" id="modal-rmitem" tabindex="-1" role="dialog" aria-labeledby="modal-rmitem" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-rmitem-title">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-rmitem-itemtype">
                    <div class="form-group">
                        <label for="modal-rmitem-itemid" class="col-form-label">아래 에셋을 삭제하겠습니까?</label>
                        <textarea class="form-control" style="color:#fff;" id="modal-rmitem-itemid" rows="2" disabled></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmItemModal(document.getElementById('modal-rmitem-itemtype').value,getElementById('modal-rmitem-itemid').value)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal : Item Detail View -->
    <div class="modal fade" id="modal-detailview" tabindex="-1" role="dialog" aria-labeledby="modal-detailview" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title">Detail View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid row mr-0">
                        <div class="col-lg-6 col-md-12">
                            <img src="/assets/img/pdfthumbnail.svg">
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <p style="text-align: left;">
                                <h5 id="modal-detailview-title" style="font-weight: 600;"></h5>
                            </p>
                            <p style="text-align: left;">
                                <strong>ID</strong>
                                <span id="modal-detailview-itemid" style="float: right;"></span>
                            </p>
                            <p style="text-align: left;">
                                <strong>Author</strong>
                                <span id="modal-detailview-author" style="float: right;"></span>
                            </p>
                            <p style="text-align: left;">
                                <strong>Description</strong>
                                <span id="modal-detailview-description" style="float: right;"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modal-detailview-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Modal : Prset Colorspace -->
    <div class="modal fade" id="modal-preset-colorspace" tabindex="-1" role="dialog" aria-labeledby="modal-preset-colorspace" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-preset-colorspace-title">Preset Colorspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <span class="ml-2 mr-2 mt-2 w-100 btn btn-outline-darkmode" onclick="
                            document.getElementById('incolorspace').value='ACES - ACES2065-1';
                            document.getElementById('outcolorspace').value='Output - Rec.709';
                            " data-dismiss="modal">
                            Netflix (ACES2065-1 > Rec.709)
                        </span>
                    </div>
                    <div class="row">
                        <span class="ml-2 mr-2 mt-2 w-100 btn btn-outline-darkmode" onclick="
                            document.getElementById('incolorspace').value='Utility - sRGB - Texture';
                            document.getElementById('outcolorspace').value='Utility - sRGB - Texture';
                            " data-dismiss="modal">
                            sRGB2sRGB (sRGB > sRGB)
                        </span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
{{end}}