{{define "modal"}}
<div class="">
    <!-- Modal: Preset value-->
    <input type="hidden" id="token" value="{{$.User.Token}}">
    <input type="hidden" id="userid" value="{{$.User.ID}}">
    <!-- Modal : Remove Item -->
    <div class="modal fade" id="modal-rmitem" tabindex="-1" role="dialog" aria-labeledby="modal-rmitem" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content bg-darkmode">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-rmitem-title">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" class="form-control" id="modal-rmitem-id">
                    <div class="form-group">
                        <label for="modal-rmitem-text" class "col-form=label">아래 에셋을 삭제하겠습니까?</label>
                        <textarea class="form-control" id="modal-rmcomment-text" rows="2" disabled></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmItemModal(document.getElementById('modal-rmitem-id'))">Delete</button>
                </div>
            </div>

        </div>
    </div>
</div>
{{end}}