{{define "modal"}}
<div class="">
    <!-- Modal : Preset Value -->
    <input type="hidden" id="accesslevel" value="{{$.User.AccessLevel}}">
    <!-- Modal : Copypaths -->
    <div class="modal" id="modal-copypaths" tabindex="-1" role="dialog" aria-labeledby="modal-copypaths" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content text-darkmode" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-copypaths-title">Copypaths</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-copypaths-text" class="col-form-label">경로 정보는 다음과 같습니다.</label>
                        <textarea class="form-control text-warning" id="modal-copypaths-text" rows="5" disabled></textarea>
                        <small class="text-darkmode">
                            Copy & Paste 해서 사용해주세요. Nuke 형태의 툴에 붙혀넣기 해주세요.
                        </small>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal : Remove Item -->
    <div class="modal fade" id="modal-rmitem" tabindex="-1" role="dialog" aria-labeledby="modal-rmitem" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-rmitem-title">Delete Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="modal-rmitem-itemid" class="col-form-label">Are you sure you want to delete the Asset?</label>
                        <textarea class="form-control" style="color:#fff;" id="modal-rmitem-itemid" rows="2" disabled></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="rmItemModal(document.getElementById('modal-rmitem-itemid').value)"  data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal : Item Detail View -->
    <div class="modal fade" id="modal-detailview" tabindex="-1" role="dialog" aria-labeledby="modal-detailview" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" id="modal-detailview-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title">Detail View</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="detailview-thumbnail col-xl-7 col-lg-12 col-md-12" id="modal-detailview-thumbnail">
                        </div>
                        <div class="iteminfo-list col-xl-5 col-lg-12 col-md-12">
                            <div class="iteminfo">
                                <h3 id="modal-detailview-title"></h3>
                            </div>
                            <p class="iteminfo">
                                <strong>ID</strong>
                                <span id="modal-detailview-itemid"></span>
                            </p>
                            <p class="iteminfo">
                                <strong>Itemtype</strong>
                                <span id="modal-detailview-itemtype"></span>
                            </p>
                            <p class="iteminfo">
                                <strong>Author</strong>
                                <span id="modal-detailview-author"></span>
                            </p>
                            <div class="iteminfo">
                                <strong for="modal-detailview-description">Description</strong>
                                <p id="modal-detailview-description"></p>
                            </div>
                            <div class="iteminfo" id="modal-detailview-tags"></div>
                            <div class="iteminfo">
                                <strong for="modal-detailview-categories">Category</strong>
                                <p id="modal-detailview-categories"></p>
                            </div>

                            <div class="iteminfo" id="modal-detailview-attributes"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="modal-detailview-footer">
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal : Edit Tags -->
    <div class="modal" id="modal-edittags" tabindex="-1" role="dialog" aria-labeledby="modal-preset-colorspace" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-edittags-title">Edit Tags</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="pt-1 text-darkmode">Tags</label>
                                <input type="text" class="form-control" id="modal-edittags-tags" placeholder="Tags" autocomplete="off">
                                <small class="text-darkmode">"," 문자를 이용해서 태그를 입력하세요.</small>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-warning" onclick="EditTags()" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal : Set Category -->
    <div class="modal" id="modal-setcategory" tabindex="-1" role="dialog" aria-labeledby="modal-preset-colorspace" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-setcategory-title">Set Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-darkmode">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{template "option-category" .}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-warning" onclick="SetItemCategory()" data-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal : Add Category -->
    <div class="modal" id="modal-addcategory" tabindex="-1" role="dialog" aria-labeledby="modal-addcategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-addcategory-title">Add Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="pt-1 text-darkmode">Name</label>
                                <input type="text" class="form-control" id="modal-addcategory-name" placeholder="Name" autocomplete="off">
                                <input type="text" class="form-control" id="modal-addcategory-parentid" hidden>
                                <small class="text-darkmode">Please type in the category name.</small>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-warning" onclick="AddCategory()" data-bs-dismiss="modal">ADD</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal : Rm Category -->
    <div class="modal" id="modal-rmcategory" tabindex="-1" role="dialog" aria-labeledby="modal-rmcategory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-white" style="background-color: #2e2d2d">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-rmcategory-title">Remove Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="pt-1 text-darkmode">Are you sure you want to delete the category?</label>
                                <input type="text" class="form-control" id="modal-rmcategory-id" placeholder="" autocomplete="off" hidden>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-darkmode" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-outline-danger" onclick="RmCategory()" data-bs-dismiss="modal">DELETE</button>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}

