{{define "navbar"}}
<nav class="navbar navbar-expand-lg navbar-darkmode">
    <a class="navbar-brand" href="/">DOTORI</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Add
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/addmaya">Maya</a>
                <a class="dropdown-item" href="/addnuke">Nuke</a>
                <a class="dropdown-item" href="/addhoudini">Houdini</a>
                <a class="dropdown-item" href="/addblender">Blender</a>
                <a class="dropdown-item" href="/">Source</a>
                <a class="dropdown-item" href="/addalembic">Alembic file</a>
                <a class="dropdown-item" href="/addusd">.usd file</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/item-process">Process</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/help">Help</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/adminsetting">Admin Setting</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             User
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profile">Profile</a>
              <a class="dropdown-item" href="/signin">SignIn</a>
              <a class="dropdown-item" href="/signup">SignUp</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
{{end}}