{{define "page"}}
<div class="row">
    <div class="mx-auto">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn-darkmode" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {{range .Pages}}
                    <li class="page-item">
                        <a class="{{if eq $.CurrentPage .}}text-white {{end}}page-link btn-darkmode" href="/search?itemtype={{$.ItemType}}&searchword={{$.Searchword}}&page={{.}}">
                            {{.}}
                        </a>
                    </li>
                {{end}}
                
                <li class="page-item">
                    <a class="page-link btn-darkmode" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
{{end}}