{{define "profile"}}
{{template "head"}}
<body>
    {{template "navbar"}}
    <div class="pt-5 pb-5">
        <h2 class="text-center section-heading text-muted">Profile: {{.ID}}</h2>
    </div>
    
        <div class="col-lg-6 col-md-6 col-sm-12 mx-auto">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="h4 text-muted">AccessLevel</label>
                        <input type="text" class="form-control" value="{{.AccessLevel}}" disabled>
                        <small class="form-text text-muted">권한</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="h4 text-muted">Token</label>
                        <input type="text" class="form-control" value="{{.Token}}" disabled>
                        <small class="form-text text-muted">RestAPI에 접근할 수 있는 Token</small>
                    </div>
                </div>
            </div>
        </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/dotori.js"></script>
</html>
{{end}}