{{define "rename"}}
{{template "head-bootstrap5"}}

<body>
{{template "navbar-bootstrap5" .}}
{{template "modal" .}}

<div class="container py-5 px-2">
    <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
        <div class="pt-3 pb-3">
            <h2 class="text-muted">Rename</h2>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="form-group">
                    <label class="text-muted">Find Path</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Path" id="searchpath" value="{{$.Item.OutputDataPath}}">
                        <button class="btn btn-outline-warning" type="button" id="searchfiles">SearchFiles</button>
                    </div>
                    <small class="form-text text-danger">OS에서 보안 제약이 걸린 경로, 너무 많은 파일이 존재하는 경로를 설정할 경우 웹서버에 부하를 줄 수 있습니다.</small>
                    <small class="form-text text-danger">물리적인 파일명이 변경되는 작업이니 주의해주세요.</small>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col-sm">
                <div class="border-table rounded unselectable" id="source-table"></div>
            </div>
        </div>

        <div class="pt-3">
            <div class="row">
                <div class="col">
                    <label class="text-muted">Find</label>
                </div>
                <div class="col">
                    <label class="text-muted float-end">Replace</label>
                </div>
            </div>
            
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="find" placeholder="Find" aria-label="Find" autocomplete="off">
                <span id="change" class="input-group-text finger btn-outline-darkmode"><-></span>
                <input type="text" class="form-control" id="replace" placeholder="Replace" aria-label="Replace" autocomplete="off">
            </div>
            
        </div>
        <div class="row mb-4">
            <div class="col-sm">
                <div class="from-group">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="permission" name="permission" value="false">
                        <label class="form-check-label text-muted" for="permission">Use Adminsetting Permission</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center pt-5">
        <button type="submit" class="btn btn-outline-warning" id="submitSimulation">SIMULATION</button>
        <button type="submit" class="btn btn-outline-danger" id="submitRename">RENAME</button>
    </div>
</div>

{{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script>
<script src="/assets/tabulator5.1/js/tabulator.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script>
    //define some sample data
    var sources = [];
    //create Tabulator on DOM element with id "example-table"
    var table = new Tabulator("#source-table", {
        height:370, // set height of table (in CSS or here), this enables the Virtual DOM and improves render speed dramatically (can be any valid css height value)
        data:sources, //assign data to table
        layout:"fitColumns", //fit columns to width of table (optional)
        pagination:"local",
        paginationSize:10,
        paginationSizeSelector:[10, 20],
        reactiveData:true, //turn on data reactivity
        selectable:true, //make rows selectable
        paginationCounter:"rows",
        clipboard:true,
        clipboardPasteAction:"replace",
        columns:[ //Define Table Columns
            {title:"Source", field:"src", hozAlign: "left", headerHozAlign:"center", headerSort:false},
            {title:"Destination", field:"dst", hozAlign:"left", headerHozAlign:"center", headerSort:false},
        ],
    });

    document.getElementById("change").addEventListener("click", function(){
        let find = document.getElementById("find").value
        let replace = document.getElementById("replace").value
        document.getElementById("find").value = replace
        document.getElementById("replace").value = find
    });

    //submit Simulation
    document.getElementById("submitSimulation").addEventListener("click", function(){
        // error 처리
        let find = document.getElementById("find").value
        if (find == "") {
            tata.error('Error', "Need find string", {
            position: 'tr',
            duration: 10000,
            })
            return
        }
        let replace = document.getElementById("replace").value
        if (replace == "") {
            tata.error('Error', "Need replace string", {
            position: 'tr',
            duration: 10000,
            })
            return
        }
        let data = table.getData();
        // 이름을 찾아서 바꾼다.
        for (let i = 0; i < data.length; i += 1) {
            data[i].dst = data[i].src.replace(find, replace);
        }
        table.replaceData(data); //update data
    });

    //submit Rename
    document.getElementById("submitRename").addEventListener("click", function(){
        // error 처리
        let opt = new Object()
        opt.path = document.getElementById("searchpath").value
        opt.find = document.getElementById("find").value
        opt.replace = document.getElementById("replace").value
        opt.permission = document.getElementById("permission").checked
        if (opt.find == "") {
            tata.error('Error', "Need find string", {
            position: 'tr',
            duration: 10000,
            })
            return
        }
        if (opt.replace == "") {
            tata.error('Error', "Need replace string", {
            position: 'tr',
            duration: 10000,
            })
            return
        }
        
        fetch('/api/rename', {
            method: 'POST',
            headers: {
                "Authorization": "Basic "+ getCookie("SessionToken"),
            },
            body: JSON.stringify(opt),
        })
        .then((response) => {
            if (!response.ok) {
                throw Error(response.statusText + " - " + response.url);
            }
            return response.json()
        })
        .then((data) => {
            console.log(data)
        })
        .catch((err) => {
            alert(err)
        });
            
        
        // Toast 띄우기
        tata.success('Submit Rename', sources.length + " file renamed.", {
            position: 'tr',
            duration: 10000,
            onClose: null,
        })
    });

    document.getElementById("searchfiles").addEventListener("click", function(){
        fetch('/api/searchfile', {
            method: 'POST',
            headers: {
                "Authorization": "Basic "+ getCookie("SessionToken"),
            },
            body: new URLSearchParams({
                "path":  document.getElementById("searchpath").value,
            })
        })
        .then((response) => {
            if (!response.ok) {
                return response.text().then((data) => {
                    alert(data);
                    //return data;
                })
            }
            if (response.ok) {
                return response.json().then((data) => {
                    sources = data; // source 변수를 업데이트한다.
                    table.replaceData(sources); // 테이블 값을 업데이트 한다.
                })
            }
        })
        .catch((err) => {
            alert(err);
            //return err
        });
    });
</script>
<script src="/assets/js/dotori.js"></script>
</html>
{{end}}
