{{define "search"}}
<form action="/search-submit" method="POST">
	<div class="row justify-content-center align-items-center m-3">
		<div class="col-lg-7">
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<select name="itemtype" class="custom-select left-radius">
						<option value="" {{if eq .ItemType "" }}selected{{end}}>All</option>
						<option value="maya" {{if eq .ItemType "maya" }}selected{{end}}>Maya</option>
						<option value="nuke" {{if eq .ItemType "nuke" }}selected{{end}}>Nuke</option>
						<option value="houdini" {{if eq .ItemType "houdini" }}selected{{end}}>Houdini</option>
						<option value="blender" {{if eq .ItemType "blender" }}selected{{end}}>Blender</option>
						<option value="footage" {{if eq .ItemType "footage" }}selected{{end}}>Footage</option>
						<option value="alembic" {{if eq .ItemType "alembic" }}selected{{end}}>Alembic</option>
						<option value="usd" {{if eq .ItemType "usd" }}selected{{end}}>USD</option>
						<option value="unreal" {{if eq .ItemType "unreal" }}selected{{end}}>Unreal</option>
						<option value="openvdb" {{if eq .ItemType "openvdb" }}selected{{end}}>OpenVDB</option>						
						<option value="sound" {{if eq .ItemType "sound" }}selected{{end}}>Sound</option>
						<option value="modo" {{if eq .ItemType "modo" }}selected{{end}}>Modo</option>
						<option value="hwp" {{if eq .ItemType "hwp" }}selected{{end}}>HWP</option>
						<option value="pdf" {{if eq .ItemType "pdf" }}selected{{end}}>PDF</option>
						<option value="psd" {{if eq .ItemType "psd" }}selected{{end}}>PSD</option>						
						<option value="lut" {{if eq .ItemType "lut" }}selected{{end}}>LUT</option>
						<option value="ies" {{if eq .ItemType "ies" }}selected{{end}}>IES</option>
						<option value="hdri" {{if eq .ItemType "hdri" }}selected{{end}}>HDRI</option>
					</select>
				</div>
				
				<input class="form-control" id="searchword" placeholder="Search word.." type="text" name="searchword" value="{{.Searchword}}">
				
				<div class="input-group-append">
					<button class="btn btn-darkmode" id="button">
						Search
						<span class="badge badge-secondary ml-3">{{$.TotalNum}}</span>
					</button>
				</div>
			</div>
        </div>
    </div>
</form>



{{end}}  