{{define "setlibrarypath"}}
{{template "head"}}
<body>
    {{template "navbar"}}
    <div class="container p-5">
        <form action="/setlibrarypath_submit" method="POST">
            <div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
                <div class="pt-3 pb-3">
                    <h2 class="section-heading text-muted">Set Library Path</h2>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="text-muted">FFmpeg</label>
                            <input type="text" name="ffmpeg" class="form-control" placeholder="/path/ffmpeg">
                            <small class="form-text text-muted">동영상 변환을 위한 FFmpeg 명령어 위치를 설정해주세요.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="text-muted">OpenColorIO</label>
                            <input type="text" name="opencolorio" class="form-control" placeholder="/path/ocio.config">
                            <small class="form-text text-muted">컬러메니징을 위한 OpenColorIO ocio.config의 위치를 설정해 주세요.</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group">
                            <label class="text-muted">OpenImageIO</label>
                            <input type="text" name="openimageio" class="form-control" placeholder="/path/oiio">
                            <small class="form-text text-muted">이미지 변환을 위한 OpenImageIO 명령어 위치를 설정해 주세요.</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center pt-5">
                <button type="submit" class="btn btn-outline-danger">Edit</button>
            </div>
        </form>
    </div>
{{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
<script src="/assets/js/dotori.js"></script>
</html>
{{end}}