{{define "signup"}}
    {{template "head"}}
    <body>
        <div class="container p-5">
            <form method="post" action="/signup-submit" >
            <div class="pt-3 pb-3">
                <h2 class="section-heading text-center text-muted">Sign Up</h2>
            </div>
            <div class="row">
                <div class="cal-lg-6 cal-md-8 col-sm-12 mx-auto">
                    <div class="form-group">
                        <label class="text-muted">ID <span class="text-danger">*</span></label>
                        <input type="text" name="ID" id="ID" class="form-control" placeholder="ID">
                        <small class="form-text text-muted"> 사번이 있다면 사번을 입력해주세요. 대문자를 입력하더라도 소문자로 변경됩니다.</small>
                    </div>
                    <div class="form-group">
                        <label class="text-muted">Password <span class="text-danger">*</span></label>
                        <input type="password" name="Password" id="Password" class="form-control" placeholder="Password">
                        <small class="form-text text-muted">대소문자, 숫자, 특수문자 포함, 8자리 이상을 권장합니다.</small>
                    </div>
                    <div class="form-group">
                        <label class="text-muted">Confirm Password <span class="text-danger">*</span></label>
                        <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="form-control" placeholder="Password">
                        <small class="form-text text-muted">다시 한 번 패스워드를 입력해주세요.</small>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-darkmode mt-5">SIGN UP / 가입</button>
            </div>
            </form>
            </div>
        </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/bootstrap-4/js/bootstrap.min.js"></script>
<script src="/assets/js/dropzone.js"></script>
</html>
{{end}}