{{define "users"}}
{{template "head-bootstrap5"}}
<body>
    {{template "navbar-bootstrap5" .}}
    
    <div class="container pt-5 pb-5">
        <div class="text-center mx-auto pt-5">
            <h2 class="text-muted">Users</h2>
        </div>
        <div class="row pt-1 pb-1 text-muted text-center">
            <div class="col col-sm-4 col-md-4 col-lg-4">
                ID
            </div>
            <div class="col col-sm-4 col-md-4 col-lg-4">
                Reset Password
            </div>
            <div class="col col-sm-4 col-md-4 col-lg-4">
                Access Level
            </div>
        </div>
        <div>
            <hr class="my-1 p-0 m-0 divider">
        </div>
        <div class="text-muted text-center">
            {{range .Users}}
                <div class="row py-1">
                    <div class="col col-sm-4 col-md-4 col-lg-4">
                        {{.ID}}
                    </div>
                    <div class="col col-sm-4 col-md-4 col-lg-4">
                        <span class='btn btn-sm btn-outline-danger{{if ne $.User.AccessLevel "admin" }} disabled{{end}}' onclick="initPasword('{{.ID}}')" {{if ne $.User.AccessLevel "admin" }}disabled{{end}}>RESET PASSWORD</span>
                    </div>
                    <div class="col col-sm-4 col-md-4 col-lg-4">
                        <select id="accesslevel" class="form-select form-select-sm" onchange="changeUserAccessLevel('{{.ID}}', this.value)" {{if ne $.User.AccessLevel "admin" }}disabled{{end}}>
                            <option value="admin" {{if eq .AccessLevel "admin" }}selected{{end}}>admin</option>
                            <option value="manager" {{if eq .AccessLevel "manager" }}selected{{end}}>manager</option>
                            <option value="default" {{if eq .AccessLevel "default" "" }}selected{{end}}>default</option>
                        </select>
                    </div>
                </div>
                <div>
                    <hr class="my-1 p-0 m-0 divider">
                </div>
            {{end}}
        </div>
    </div>
    {{template "footer"}}
</body>
<!--add javascript-->
<script src="/assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
<script src="/assets/tata/tata.js"></script>
<script src="/assets/js/dotori.js"></script>
</html>
{{end}}