.card{
    margin: 10px;
    width: 18rem;
    border-radius: 0px;
    border: 1px;
    background-color: #222222;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transform: scale(1.01);
}

.card-title{
    color: white;
    margin-bottom: 5px;
}

.card-body{
    padding: 15px;
    padding-top: 10px;
}

.card-text{
    color: grey;
    font-size:13px;
    padding: 0px 5px;
}

.tag {
    border-radius: 7px;
    padding: 3px 8px;
    margin-right: 3px;
    margin-top: 5px
}

.test {
    position: relative;
    top:50%;
}