@charset "utf-8";

body {
	background-color: #2e2d2d;
}

.dropdown-divider {
	border:1px solid rgb(55, 55, 52);
}

.divider {
	border:1px solid rgb(66, 66, 62);
}

.item-divider {
	border:1px solid rgb(92, 89, 81);
}


.navbar-toggler {
	border-color: rgb(189, 186, 174);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(189,186,174, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-darkmode {
	background-color: #252525;
}

.navbar-nav {
	background-color: #252525!important;
}

.nav-link {
	color: #A7A59C;
}

.nav-link:hover {
	color: rgb(191, 188, 175);
}

.navbar-brand {
	color: #A7A59C!important;
}

.dropdown-menu {
	background-color: #3f3f3f!important;
}

.dropdown-item {
	color: #A7A59C;
}

.text-muted {
	color: rgb(137, 135, 127)!important;
}

.form-control, .form-control:valid {
	background-color:  #1C1C1C!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
	-webkit-appearance:none;
}

.form-select, .form-select:valid {
	background-color:  #1C1C1C!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
	-webkit-appearance:none;
}

.custom-check-input {
	display: none;
}

.custom-check-input + label {
	background-color:  #1C1C1C;
	border:1px solid #A7A59C;
	color: #A7A59C;
    border-radius: 3px;
	width: 15px;
	height: 15px;
	position: relative;
	top: 3px;
	margin-right: 10px;
	margin-bottom: 0px
}

.custom-check-input:checked + label:before {
	content: "\2714";
	position: absolute;
	top: -5px;
}


.custom-select {
	background-color:  rgb(41, 41, 41)!important;
	color: #A7A59C;
	border:1px solid #A7A59C;
	border-radius: 0px;
}

.left-radius {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.border-darkmode {
	border:1px solid #6f6e6a !important;
}

.btn-darkmode {
	background-color:  #3A3A3A !important;
	border:1px solid #A7A59C;
	color: #A7A59C;
}

.btn-darkmode:hover {
	background-color:  #3A3A3A!important;
	color: rgb(189, 186, 174);
}

.add {
	color: #A7A59C;
	background-color: rgb(55, 54, 52);
	border:1px solid #A7A59C;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
}

.add:hover {
	color: #000000;
	background-color: #FFB90B;
	border:1px solid #FFB90B;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

.preset-button {
	color: #A7A59C;
	background-color: rgb(55, 54, 52);
	border:1px solid #A7A59C;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
}

.preset-button:hover {
	color: #000000;
	background-color: #FFB90B;
	border:1px solid #FFB90B;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 12px;
	cursor: pointer;
	text-decoration: none;
}

.badge-outline-darkmode, .badge-outline-darkmode:link, .badge-outline-darkmode:active, .badge-outline-darkmode:hover {
	background-color:  #212121!important;
	border:1px solid #A7A59C;
	color: #A7A59C;
	text-decoration: none;
	vertical-align: middle;
}

.btn-outline-darkmode {
	background-color:  #212121 !important;
	border:1px solid #A7A59C;
	color: #A7A59C;
}

.btn-outline-darkmode:hover {
	background-color:  #212121 !important;
	border:1px solid #A7A59C;
	color: rgb(226, 224, 211);
}

.badge-outline-warning, .badge-outline-warning:link, .badge-outline-warning:active, .badge-outline-warning:hover {
	background-color:  #212121!important;
	border:1px solid #a87b00;
	color: #ac7e00;
	text-decoration: none;
	vertical-align: middle;
}

.badge-outline-rvgreen, .badge-outline-rvgreen:link, .badge-outline-rvgreen:active, .badge-outline-rvgreen:hover {
	background-color:  #212121!important;
	border:1px solid #038B4A;
	color: #038B4A;
	text-decoration: none;
	vertical-align: middle;
}

.finger {
	cursor: pointer;
}

.divider {
	border:1px solid rgb(66, 66, 62);
}

.border-table {
	border:1px solid #A7A59C !important;
}

.progress {
	background-color: rgb(37, 37, 37);
	-webkit-box-shadow: none;
	box-shadow: none;
}

.bg-darklight {
	background-color: #353333;
}

.text-darkmode, .text-darkmode:hover {
	color: #A7A59C;
}

.tag {
    border-radius: 7px;
    padding: 3px 8px;
    margin-right: 3px;
    margin-top: 5px
}

.download-icon {
	width: 12px;
	height: 12px;
}

.bookmark-icon {
	float: right;
	width: 20px;
	height: 20px;
}

.bookmark-clicklistener {
	position: absolute;
	width: 20px;
	height: 20px;
}

.bookmark-filled-icon {
	animation-duration: 0.3s;
	animation-timing-function: ease-out;
	animation-name: scaleup;
}

@keyframes scaleup {
	0% {
		transform: scale(0.0);
	}
	50% {
		transform: scale(0.7);
	}
	80% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1.0);
	}
}

/*------------------------------*/
/*---------- init page ---------*/
/*------------------------------*/

.init-title {
	margin-top: 40px;
	margin-left: 5%;
	margin-right: 5%;
	color: #d9d9d9;
	font-size: 17px;
	font-weight: 600;
}

.init-items {
	display: flex;
	margin-left: 5%;
	margin-right: 5%;
	justify-content: space-between;
}

.init-tags {
	margin-left: 5%;
	margin-right: 5%;
	padding: 0;
}

.slider-text{
	color: #d9d9d9;
}

@media screen and (max-width: 375px) {
	.init-title {
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.init-items {
		margin-left: 10%;
		margin-right: 10%;
	}
	
	.init-tags {
		margin-left: 10%;
		margin-right: 10%;
	}
}


/*------------------------------*/
/*------------ card ------------*/
/*------------------------------*/

.card{
	margin: 10px 0px;
    border-radius: 0px;
    border: 1px;
    background-color: #222222;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.card:hover{
    transform: scale(1.01);
}

.card-title{
    color: #d9d9d9;
    margin-bottom: 5px;
}

.card-body{
    padding: 15px;
    padding-top: 10px;
}

.card-text{
    color: grey;
    font-size:13px;
    padding: 0px 5px;
}


/*-----------------------------*/
/*----------- Modal -----------*/
/*-----------------------------*/

.modal-header {
	border-bottom: 1px solid rgb(111, 110, 104);
}

.modal-footer{
	border-top: 1px solid rgb(111, 110, 104);
}

.modal-title {
	color: #A7A59C;
}

#modal-detailview-dialog {
	min-width: 70%;
}

.iteminfo-list {
	color: #d9d9d9;
}

/* title */
.iteminfo-list h3 {
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 20px;
}

/* id, itemtype, author */
.iteminfo-list .iteminfo span {
    float: right;
    font-size: 15px;
}

.iteminfo {
    margin-bottom: 1rem;
}

/* description */
#modal-detailview-description {
	font-size: 14px;
}

.detailview-thumbnail > * {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    vertical-align: middle;
}

.attributes {
    margin-top: 10px;
    font-size: 13px;
}

/* attribute의 key */
.attributes dt {
    width: 12%;
}

/* attribute의 value */
.attributes dd {
    margin-left: 20px;
}

/* Switch color 설정 시작 */
.form-check-input:checked {
    background-color: rgb(255, 198, 83) !important;
    border-color: rgb(115, 115, 115) !important;
	color: rgb(178, 178, 178) !important;
}

.form-check-input:not(:checked) {
    background-color: rgb(52, 52, 52) !important;
    border-color: rgb(115, 115, 115) !important;
	color: rgb(178, 178, 178) !important;
}

.form-switch .form-check-input {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(178, 178, 178)'/%3e%3c/svg%3e");
}
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgb(178, 178, 178)'/%3e%3c/svg%3e");
}
/* Switch color 설정 끝 */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category {
	background-color: rgb(60, 64, 67);
	color: rgb(168, 168, 168);
}

.category-add {
	background-color: rgba(60, 64, 67, 0.3);
	color: rgba(168, 168, 168, 0.3);
	border-style: dashed !important;
}

.icon {
	float: right;
}